.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIMG {
  height: 350px;
  width: 250px;
  object-fit: cover;
  border-radius: 1rem;
}

.colabsTitle{
  text-align: center;
  h1 {
    font-size: 3rem;
  }
}

